NETWORK_HEALTH_API=
ACTIVE_NODES_BY_COUNTRY_API=
ACTIVE_NODES_API=
NODE_INFO_API=
VALIDATOR_STATS_API=
VALIDATOR_STATS_API_BY_AZTEC=
TOP_VALIDATORS_API=
CURRENT_EPOCH_STATS_API=
BOT_TOKEN=
SECRET_TOKEN=
WEBHOOK_URL=
WEBHOOK_PATH=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=6379
EXPRESS_PORT=3000
NODE_ENV="production"